
  .register{
    position: absolute;
    left: 0;
    border-radius: 0 0px 10px 10px;
    background: #C6182F;
    /* white-space: nowrap; */
    padding: 12px 30px;
    color:#fff;
    font-size:16px;
    outline: none;
    border: none;
    cursor: pointer;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  .register:hover{
    transition: all 0.2s ease-in-out;
    background: #38218f;
    color: white;
  }