
a {
    color: #eeeeee;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.nav1{
  background-color:rgba(29, 29, 29, 1);
  margin: auto -16px;
  padding: 12px 32px;
  box-shadow: 2px 13px 20px 0 rgb(1 1 1 / 50%);

}
.margin-nav1{
  margin-left:auto;
}
.SmartMail-logo{
  font-family: 'Lato', sans-serif;
  color: #eeeeee;
  font-weight: bold;
  font-size: 30px;
}
.normaltheme{
  font-family: 'Lato', sans-serif;
  font-size: 20px;

}
.SmartMail-img{
  margin-right: 10px;
}
.sidebar{
  height: 840px;
}
