.dialog-container{
    position: fixed;
    top: 200px;
    left: 50%;
    width: 500px;
    height: auto;
    transform: translateX(-50%);
    z-index: 10000;
    background-color:#664AA6;
    padding: 20px;
    border-radius: 20px;
    color: white;
    border: 3px solid whitesmoke;
}
#close:hover{
    color: #664AA6;
    background-color: white;
}