.opine{
    border-radius: 10px;
background: #ff6c00;
white-space: nowrap;
padding: 10px 22px;
color: white;
font-size: 16px;
outline: none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;


}
.opine:hover {
    transition: all 0.2s ease-in-out;
    background: #38218f;
    color: white;
}
.opineRed{
    border-radius: 10px;
background: #C6182F;
white-space: nowrap;
padding: 10px 22px;
color: white;
font-size: 16px;
outline: none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;


}
.opineRed:hover {
    transition: all 0.2s ease-in-out;
    background:#38218f;
    color: white;
}