.heading{
    text-align: center;
   color: rgb(107, 0, 150);
   font-weight: bolder;
   font-size: 3rem;
   margin: 30px;
  

}
.active{
   color: greenyellow;
}
.main_box{
margin: 0px 25px;

}
.row{
   margin: 0;
}
img{
   width: 100%;
   height: 150px;
   margin-bottom: 20px;
}
.right{
   padding:0 10px ;
}
p{
   font-size: 16px;
   color: rgb(61, 61, 61);
   line-height: 150%;
   padding: 0;
   font-family: 'Roboto', sans-serif;
  word-spacing: 2px;
}
.author_name{
   margin: 0;
}
a{
   
   text-decoration: none;
}
a p{
   
   color: rgb(255, 136, 0);
   text-align: right;
   font-family: 'Rubik', sans-serif;
}

/* left side of content */

.table_text{
   font-size: 14px;
   width: 100%;
   font-size: 14px;
}
.table_link{
   color: rgb(255, 136, 0);
   text-decoration: none;
}
.td_right{
   width: 25%;
   vertical-align: bottom;
}
.td_left{
   width: 75%;
}

/* scroll bar */
.scroll{
   overflow-y: scroll; 
   height:500px;
   
    scrollbar-width: 3px;
    margin-bottom:30px ;
}




.scroll::-webkit-scrollbar {
   width: 8px;
}

.scroll::-webkit-scrollbar-track {

   box-shadow: 0 0 6px ;
   -webkit-box-shadow: inset 0px 1px 6px rgb(110, 110, 110);  
   border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
   
   border-radius: 10px;
   box-shadow: 0 0 6px;
   -webkit-box-shadow: inset 6px 6px 6px 6px orange ; 
}
